@font-face {
    font-family: asmr;
    src: url(ASMRmono-Regular.ttf);
}

h1,h2,h3 {
    color:red;
}

body{
    font-family: asmr,Arial, Helvetica, sans-serif;
    font-size:20px;
    margin:0;
}

#main {
    margin-top:10px;
    margin-left:15px;
    margin-right:15px;
    margin-bottom:10px;
}

hr {
    border-color: red;
}

a {
    color: red;
    text-decoration:none;
}

a:hover {
    text-decoration:underline;
}

.header{
    position:sticky;
    top:0px;
    margin:0px;
    height:80px;
    width:100%;
    margin-bottom:10px;
    box-shadow: 0 0 7px;
    background-color:white;
    display:table;
    table-layout:fixed;
}


.header-logo {
    height:80px;
    width:80px;
    display:table-cell;
    transition-duration:0.42s;
}

.header-logo:hover {
    transform: rotate(360deg);
}

.header-link {
    height:100%;
    display:table-cell;
    text-align: center;
    vertical-align: middle;
    transition-duration: 0.42s;
    font-size:20px;
    text-decoration:none;
    color:black;
}

.header-link:hover {
    background-color:red;
    font-size:25px;
    text-decoration:none;
}

tbody{
    display:block;
}

img {
    max-width: 100%;
    max-height: 100%;
}

.resource-link {
    font-size: 40px;
}

.results-table {
    width:100%;
    max-width:600px;
    border-collapse: collapse;
    margin-top:10px;
    margin-bottom:10px;
}

th, td {
    font-size:20px;
    padding-right: 15px;
    padding-left: 15px;
    padding-bottom: 5px;
    padding-top:5px;
    text-align: left;
    border-bottom: 1px solid #bc3a3a;
}

th {
    border-top: 1px solid #bc3a3a;
    color:red;
}

@media screen and (max-width: 850px) {
    .header-link {
        font-size:14px;
    }
    .header-link:hover {
        font-size:16px;
    }
    body {
        font-size:18px;
    }
}

@media screen and (max-width: 600px) {
    .header-link {
        font-size:12px;
    }
    .header-link:hover {
        font-size:13px;
    }
    body {
        font-size:16px;
    }
}

@media screen and (max-width: 450px) {
    .header-link {
        font-size:8px;
    }
    .header-link:hover {
        font-size:8px;
    }
    body {
        font-size:14px;
    }
}
