@font-face {
    font-family: asmr;
    src: url(ASMRmono-Regular.ttf);
}

body{
    font-family: asmr,Arial, Helvetica, sans-serif;
    margin:0;
}

#main {
    margin:10px;
}

.header{
    position:sticky;
    top:0px;
    margin:0px;
    height:80px;
    width:100%;
    margin-bottom:10px;
    box-shadow: 0 0 7px;
    background-color:white;
    display:table;
    table-layout:fixed;
}

.header-link {
    height:100%;
    display:table-cell;
}

tbody{
    display:block;
}

img {
    max-width: 100%;
    max-height: 100%;
}