ul {
    list-style: none;
}

/* Add a black background color to the top navigation */
nav {
    background-color: gray;
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
nav a {
    float: left;
    display: block;
    color: aqua;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
  
  /* Change the color of links on hover */
nav a:hover {
    background-color: darkgray;
    color: aquamarine;
}
